<div class="diy-top">{{render "diy/top" }}</div>
<div class="row diy-main" {{bind-attr style = view.diyMainstyle}} >
	<div class="diy-left col-md-3 diy-main-height">{{render "diy/left"}}</div>
	<div class="diy-center col-md-7 diy-main-height">{{render "diy/canvas"}}</div>
	<div class="diy-right col-md-2 diy-main-height">{{render "diy/right"}}</div>
</div>